.card {
  width: 90%;
  max-width: 500px;

  height: 100px;

  padding: 0rem 0.5rem;
  margin: 0.6em 0em;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-radius: 3px;

  -webkit-box-shadow: 1px 2px 15px -1px #000000;
  box-shadow: 1px 2px 15px -1px #000000;

  transition: 130ms ease;
  transition-delay: 40ms;
}

.card:hover {
  -webkit-box-shadow: 1px 2px 7px -1px #000000;
  box-shadow: 1px 2px 7px -1px #000000;
}

.fillIcon {
  max-height: 70px;
  color: aliceblue;
}

.champIcon {
  max-height: 80px;
  border-radius: 50%;
  border: 2px solid blueviolet;
}
