.currentGameContainer {
  background: #fbf7f5;
  overflow: hidden;
  height: 100%;
  width: 70%;
  border-radius: 5px;
  border: 2px solid #f4f4f4;
  box-shadow: 5px 5px 24px 5px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-height: 300px;
  max-width: 900px;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;

  -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.currentGameContainer:hover {
  border-color: #186cc0;
}

.noCurrentGame {
  display: none;
}

.blueTeam100 {
  width: 50%;
  height: 100%;
  background-color: rgba(60, 193, 255, 0.582);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.redTeam200 {
  width: 50%;
  height: 100%;
  background-color: rgba(252, 59, 59, 0.589);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.summonerContainer {
  width: 97%;
  max-height: 50px;
}

.blueSummoner {
  font-size: 1em;
  width: 97%;
  max-height: 50px;
  padding: 0.4em 1em;
  margin: 0.3em;
  border-bottom: 1px rgba(255, 255, 255, 0.534) solid;

  display: flex;
  align-items: center;
}

.blueSummoner:last-child {
  border-bottom: none;
  margin-top: 0;
}

.blueSummoner:hover {
  background-color: #fbf7f565;
}

.redSummoner {
  font-size: 1em;
  width: 97%;
  max-height: 50px;
  padding: 0.4em 1em;
  margin: 0.3em;
  border-bottom: 1px rgba(255, 255, 255, 0.534) solid;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.redSummoner:last-child {
  border-bottom: none;
  margin-top: 0;
}

.redSummoner:hover {
  background-color: #fbf7f565;
}

.iconContainer {
  height: 80%;
  width: 10%;
  margin: 0em 0.3em;
}

.summonerIcon {
  border-radius: 50%;
  height: 100%;
}

.summonerName {
  margin: 0 0.2em;
}

/**
   * ----------------------------------------
   * animation fade-in-bottom
   * ----------------------------------------
   */
@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
