.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 0 10px;
  margin: 1.5em 0em;
  width: 80%;
  max-width: 480px;
  z-index: -1;
  user-select: none;
}

.champContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.title {
  margin: 0.3em 0em;
  text-align: center;
  color: rgb(17, 54, 71);
}

.champ {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5em 1em;
}

.icon {
  border-radius: 50%;
  border: rgb(136, 76, 20) 2px solid;
  height: auto;
  width: 55px;
}

.champ:first-child > .icon {
  border: rgb(156, 156, 156) 2px solid;
  border: rgb(182, 194, 22) 2px solid;
}

.champ:nth-child(2) > .icon {
  border: rgb(156, 156, 156) 2px solid;
}

.name {
  padding: 0;
  font-size: 1em;
  margin: 0em;
}
